#title-area h1 {
  font-family: var(--serif-font);
  font-style: italic;
  font-size: 35px;
  margin: 50px 0 30px 0;
}

#content-info {
  font-family: var(--sans-font);
}

#content-info a {
  color: black;
}

#content-info p {
  font-size: 15px;
  font-family: var(--sans-font);
  font-weight: 600;
}

#explainer {
  color: var(--nyt-grey-text);
  margin: -13px 0 30px 0;
}

#date {
  font-size: 13px;
}

#comments button {
  padding: 8px 50px;
  margin: 0;
}

#foot-note {
  margin-top: 40px;
}

#foot-note p,
#foot-note a {
  font-size: 12px;
  color: var(--nyt-grey-text);
  font-family: var(--sans-font);
}

.wide-content {
  max-width: 945px;
  margin-top: 55px !important;
}

.narrow-content {
  max-width: 600px;
}

.wide-content,
.narrow-content {
  margin: 0 auto;
  position: relative;
}

.wide-content #columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.aside-author {
  font-family: var(--sans-font);
  color: var(--nyt-grey-text);
  font-size: 14px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.aside-author::before {
  position: absolute;
  left: 0;
  width: 120px;
  bottom: 40px;
  border-top: 1px solid black;
  content: "";
}

.column img {
  width: 100%;
}

.column em {
  font-weight: 600;
  font-style: normal;
  margin-right: 20px;
}

#main-content p {
  font-family: var(--serif-font);
  line-height: 1.55;
}

#subscribe-cta {
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  line-height: 0.9;
  font-family: var(--sans-font);
  margin: 50px 0;
}

#subscribe-cta a {
  display: block;
  color: var(--nyt-primary);
  text-decoration: none;
  position: relative;
}

#subscribe-cta::before,
#subscribe-cta::after {
  content: "";
  position: absolute;
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
}

#subscribe-cta::before {
  bottom: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

#subscribe-cta::after {
  top: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

#columns p {
  font-family: var(--sans-font);
}

.small-text {
  font-size: 0.8em;
}

#social-media-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icon {
  color: black;
  background: var(--nyt-grey-bg);
  border: 1px solid var(--nyt-grey-bg);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-icon,
.far {
  margin-left: 8px;
}

.social-icon:hover {
  background: white;
  border: 1px solid var(--nyt-grey-bg);
}

.fa-bookmark,
.fa-comment-alt {
  color: var(--nyt-grey-text);
  font-size: 28px;
}

.comments-count {
  position: relative;
}

#comments {
  display: flex;
  justify-content: space-between;
}

.comments-count span {
  position: absolute;
  font-size: 12px;
  top: calc(50% - 3px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.story-highlight img {
  width: 100%;
}

.story-highlight figcaption {
  font-size: 13.5px;
  font-family: var(--serif-font);
  color: var(--nyt-grey-text);
  margin: 7px 0 40px 0;
}

.story-highlight small {
  margin-left: 15px;
}
