footer {
  border-top: 4px double var(--nyt-grey-bg);
}

footer a {
  color: var(--nyt-grey-text);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

#footer-header a {
  font-size: 11px;
}

#footer-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 14px;
}

#footer-content a {
  color: black;
}

#footer-content h5 {
  text-transform: uppercase;
}

#footer-content h5,
#footer-content li {
  margin-bottom: 5px;
}

#footer-content div:last-child {
  border-left: 1px solid var(--nyt-grey-bg);
  padding-left: 25px;
}

#footer-footer {
  border-top: 1px solid var(--nyt-grey-bg);
  padding-top: 15px;
  margin-top: 15px;
  font-size: 11px;
  display: flex;
  justify-content: space-around;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 35px;
}

.posts img {
  width: 100%;
}

#recommendations {
  display: grid;
  grid-template-columns: [left] 3fr [middle] 1fr [right];
  grid-template-rows: 2fr;
  grid-gap: 20px;
}

#related-posts {
  grid-column: left / middle;
  grid-row: 1 / span 1;
}

#editors-picks {
  grid-column: left / middle;
  grid-row: 2 / span 1;
}

#popular-posts {
  grid-column: middle / right;
  grid-row: 1 / span 2;
}

#popular-posts li a {
  display: block;
}
